.frame
{
    position: absolute;
    width: 1350px;
    height: 3000px;
    background-color:none;
   
}

.the
{

    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 550px;
    margin-top: 30px;
    background-color: none;
    transform: rotate(-90deg);
}
   
.the_D
{
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.siren
{
    position: absolute;
    margin-left: 610px;
    margin-top: -18px;
}
.siren_D
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.br
{
 position: absolute;
 width: 910px;
 height:1.7px;
 margin-top:150px ;
 margin-left: 200px;
 background-color:rgb(195, 191, 191);
}

.home
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left:250px  ;
    margin-top: 110px ;

}
.bollywood
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left: 400px;
    margin-top: 110px ;

}
.technology
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left: 550px ;
    margin-top:110px ;

}
.hollywood
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left: 700px ;
    margin-top:110px ;

}
.fitness
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left: 850px ;
    margin-top: 110px ;

}
.food
{   position: absolute;
    width:30px ;
    height:20px ;
    margin-left: 1000px ;
    margin-top:110px ;

}

.all_D
{
    font-size:12px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ;
    font-weight: 500 ;
}

.pic1
{   position: absolute;
    width:800px ;
    height:500px;
    margin-top: 180px;
    margin-left: 200px;


}
.pic1_D
{
    width: 600px;
    height: 350px;
    border-radius: 5px;


}

.pic2
{
    position: absolute;
    width:800px ;
    height:500px;
    margin-top: 180px;
    margin-left: 810px;


}

.pic2_D
{
    width: 300px;
    height: 170px;
    border-radius: 5px;
}

.pic3
{
    position: absolute;
    width:800px ;
    height:500px;
    margin-top: 360px;
    margin-left: 810px;


}

.pic3_D
{
    width: 300px;
    height: 170px;
    border-radius: 5px;
}

.the_latest
{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 200px;
    margin-top: 550px;

}
.the_latest_D
{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.small_col
{
    position: absolute;
    background-color: rgb(230, 94, 45);
    width: 50px;
    height:2px;
    margin-left:200px ;
    margin-top: 610px;
}

.same1
{
    position: absolute;
    margin-left:200px;
    margin-top: 670px;



}
.same2
{
    position: absolute;
    margin-left:504px;
    margin-top: 670px;
}
.same3
{
    position: absolute;
    margin-left:808px;
    margin-top: 670px;
}
.same_D
{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.details
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200px;
    font-weight: 900;
}

.joshua
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left: 220px;
    margin-top: 860px;

}
.overnight
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left: 220px;
    margin-top: 880px;

}
.joshua_D
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: rgb(97, 96, 96);
    
}

.vast
{
    position: absolute;
    margin-left: 77px;
    margin-top:905px ;
    color: gray;
    
}


.joshua1
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left: 540px;
    margin-top: 860px;

}
.overnight1
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left:540px;
    margin-top: 880px;

}
.joshua1_D
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: rgb(97, 96, 96);
    
}

.vast1
{
    position: absolute;
    margin-left: 400px;
    margin-top:905px ;
    color: gray;
    
}


.joshua2
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left: 860px;
    margin-top: 860px;

}
.overnight2
{
    position: absolute;
    width:200px;
    height:100px;
    margin-left: 860px;
    margin-top: 880px;

}
.joshua2_D
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: rgb(97, 96, 96);
    
}

.vast2
{
    position: absolute;
    margin-left: 723px;
    margin-top:905px ;
    color: gray;
    
}

.latest_articles
{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 200px;
    margin-top: 1050px;


}

.latest_articles_D
{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small_col1
{
    position: absolute;
    background-color: rgb(230, 94, 45);
    width: 50px;
    height:2px;
    margin-left:200px ;
    margin-top: 1110px;
}

.br1
{
 position: absolute;
 width: 680px;
 height:1.7px;
 margin-top:1150px ;
 margin-left: 200px;
 background-color:rgb(195, 191, 191);
}

.add_box
{
    position: absolute;
    width: 210px;
    height: 400px;
    border: solid;
    border-color:gray;
    border-width: thin;
    margin-top: 1150px;
    margin-left: 895px;
    
}

.add_D
{   
    position: absolute;
    margin-top: 180px;
    margin-left: 25px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.chota_pic
{
    position: absolute;
    margin-left:220px;
    margin-top: 1170px;
}
.chota_pic_D
{
    width: 200px;
    height: 150px;
    border-radius: 0px;
}

.chota1_pic
{
    position: absolute;
    margin-left:220px;
    margin-top: 1335px;
}
.chota1_pic_D
{
    width: 200px;
    height: 100px;
    border-radius: 0px;
}


.chota2_pic
{
    position: absolute;
    margin-left:220px;
    margin-top: 1452px;
}
.chota2_pic_D
{
    width: 200px;
    height: 100px;
    border-radius: 0px;
}

.chota3_pic
{
    position: absolute;
    margin-left:220px;
    margin-top: 1569px;
}
.chota3_pic_D
{
    width: 200px;
    height: 100px;
    border-radius: 0px;
}



.br2
{
 position: absolute;
 width: 680px;
 height:1.7px;
 margin-top:1327px ;
 margin-left: 200px;
 background-color: rgb(236, 235, 235);
}

.br3
{
 position: absolute;
 width: 680px;
 height:1.7px;
 margin-top:1443px ;
 margin-left: 200px;
 background-color:rgb(236, 235, 235);
}

.br4
{
 position: absolute;
 width: 680px;
 height:1.7px;
 margin-top:1559px ;
 margin-left: 200px;
 background-color:rgb(236, 235, 235);
}

.catch
{
    position: absolute;
    width:300px;
    height:100px;
    margin-left: 450px;
    margin-top: 1140px;

}
.an_add
{
    position: absolute;
    width:500px;
    height:100px;
    margin-left: 450px;
    margin-top: 1164px;

}
.catch_D
{
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(15, 15, 15);
    
}

.gujrat
{
    position: absolute;
    margin-left: 310px;
    margin-top:1220px ;
    color: gray;
    
}



.catch1
{
    position: absolute;
    width:300px;
    height:100px;
    margin-left: 450px;
    margin-top: 1305px;

}
.an_add1
{
    position: absolute;
    width:500px;
    height:100px;
    margin-left: 450px;
    margin-top: 1325px;

}
.catch1_D
{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: rgb(15, 15, 15);
    
}

.gujrat1
{
    position: absolute;
    margin-left: 307px;
    margin-top:1360px ;
    color: gray;
    
}

.catch2
{
    position: absolute;
    width:300px;
    height:100px;
    margin-left: 450px;
    margin-top: 1425px;

}
.an_add2
{
    position: absolute;
    width:500px;
    height:100px;
    margin-left: 450px;
    margin-top: 1559px;

}

.gujrat2
{
    position: absolute;
    margin-left: 307px;
    margin-top:1475px ;
    color: gray;
    
}


.catch3
{
    position: absolute;
    width:300px;
    height:100px;
    margin-left: 450px;
    margin-top: 1540px;

}
.an_add3
{
    position: absolute;
    width:500px;
    height:100px;
    margin-left: 450px;
    margin-top: 1442px;

}

.gujrat3
{
    position: absolute;
    margin-left: 307px;
    margin-top:1590px ;
    color: gray;
    
}

.arrow
{ position: absolute;
    margin-top: 1690px;
    margin-left: 230px;

}

.arrow_D
{
    width: ;
    height: ;
    font-size: ;


}

.load
{ position: absolute;
    margin-top: 1675px;
    margin-left: 248px;


}

.load_more
{
    color: gray;
    
   
}

.top_post   
{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 900px;
    margin-top: 1550px;

}
.top_post_D
{
    font-size: 29px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.small_col2
{
    position: absolute;
    background-color: rgb(230, 94, 45);
    width: 50px;
    height:2px;
    margin-left:900px ;
    margin-top: 1620px;
}

.pic_top
{
    position: absolute;
    margin-top: 1630px;
    margin-left: 900px ;

}
.pic_top_D
{
    width:210px ;
    height:150px ;

}

.cat
{
    position:absolute ;
    margin-top: 1765px;
    margin-left:900px ;
}

.cat_a
{
    position:absolute ;
    margin-top: 1780px;
    margin-left:900px ;

}
.cat_b
{
    position: absolute;
    margin-top: 1820px;
    margin-left:900px ;

}

.cat1
{
    position:absolute ;
    margin-top: 2760px;
    margin-left:1005px ;
}
.cat_a1
{
    position:absolute ;
    margin-top: 1780px;
    margin-left:1005px ;
}

.cat_D
{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: rgb(15, 15, 15);
}
.cat2
{
    position:absolute ;
    margin-top: 1960px;
    margin-left:1005px ;
}
.cat_a2
{
    position:absolute ;
    margin-top: 1780px;
    margin-left:1005px ;
}

.cat3
{
    position:absolute ;
    margin-top: 1760px;
    margin-left:1005px ;
}
.cat_a3
{
    position:absolute ;
    margin-top: 1780px;
    margin-left:1005px ;
}


.num_1
{
    position: absolute;
    width:80px ;
    height:80px ;
    margin-left:1080px ;
    margin-top:1725px;

}

.num_1_D
{
    font-size:60px ;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(200, 200, 200);
    

}


.big_down
{
    position: absolute;
    margin-left:200px ;
    margin-top:1800px ;

}

.big_down_D
{
    width: 650px;
    height: 400px;

}









